* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.container {
  width:1000px;
  height: 372px;
  margin: 40px;
  position: relative;
}

.tablet {
  width: 300px;
  height: 372px;
  display: inline-block;
  background: url("../img/pd1.jpg") no-repeat center;
  position: relative;
}

.phone {
  width: 300px;
  height: 372px;
  display: inline-block;
  background: url("../img/pd2.jpg") no-repeat center;
  position: absolute;
  top: 0;
  left: 310px;
}

.headphone {
  width: 300px;
  height: 372px;
  display: inline-block;
  background: url("../img/pd3.jpg") no-repeat center;
  position: absolute;
  top: 0;
  left:620px
}

.s30 {
  background-color: green;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.s5 {
  background-color: red;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.heart {
  font-size: 20px;
  display: none;
  position: absolute;
  bottom: 5%;
  left: 50%;
}

.subcontain:hover > .heart{
  color: red;
  display: inline-block;
}
